<mat-card class="user-detail-header">
    <button mat-icon-button [matMenuTriggerFor]="userHeaderMenu" class="menu-btn">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userHeaderMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteUser()">
            <mat-icon>delete</mat-icon>
            <span>Delete user</span>
        </button>
    </mat-menu>
    <img src="../../assets/img/profile-1.png">
    <div class="user-details">
        <h2>
            <mat-icon>account_circle</mat-icon> {{ user.firstName }} {{ user.secondName }}
        </h2><br>
        <p>
            <mat-icon>call</mat-icon> {{ user.phone }}
        </p>
        <p>
            <mat-icon>alternate_email</mat-icon> {{ user.mail }}
        </p>
    </div>
</mat-card>

<mat-card class="mt-32">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editMenu()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
    </mat-menu>
    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
        {{ user.street }} <br>
        {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
</mat-card>